{% extends 'ChobieGit2RepositoryBrowserBundle::layout.html.twig' %}
{% block container %}

<h1><a href="{{ path('ChobieGit2RepositoryBrowserBundle_tree_index',{ repository_name: repository_name, refs: refs }) }}">{{ repository_name }}</a></h1>

{% include "ChobieGit2RepositoryBrowserBundle::parts.tools_links.html.twig" %}

<ul>
    {% for tag in tags %}
    <li><a href="{{ path('ChobieGit2RepositoryBrowserBundle_tree_index', {repository_name: repository_name, refs: tag.getBaseName }) }}">{{ tag.getName }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
