{% extends 'ChobieGit2RepositoryBrowserBundle::layout.html.twig' %}
{% block container %}
<h1><a href="{{ path('ChobieGit2RepositoryBrowserBundle_tree_index',{ repository_name: repository_name, refs: refs }) }}">{{ repository_name }}</a></h1>


{% include "ChobieGit2RepositoryBrowserBundle::parts.tools_links.html.twig" %}

<div id="main">
    {% include "ChobieGit2RepositoryBrowserBundle::parts.breadcrumbs.html.twig" %}
    {% include "ChobieGit2RepositoryBrowserBundle::parts.tree.html.twig" %}

{% if data %}
<pre>{{ data | raw }}</pre>
{% endif %}
</div>
{% endblock %}
